<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Dashboard</h1>
            <a href="/note" class="btn">Note</a>
        </div>
        <h1>Notes Table</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Important</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <% notes.forEach(note => { %>
                <tr>
                    <td><%= note.title %></td>
                    <td><%= note.important %></td>
                    <td><%= note.created_at %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </body>
</html>
