<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="login_username" name="login_username" required>
                <label for="password">Password:</label>
                <input type="password" id="login_password" name="login_password" required>
                <button type="submit">Login</button>
                <% if (login_error) { %>
                <p style="color:red;"><%= login_error %></p>
                <% } %>
            </form>

            <h1>Register</h1>
            <form action="/register" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="register_username" name="register_username" required>
                <label for="password">Password:</label>
                <input type="password" id="register_password" name="register_password" required>
                <label for="repeat_password">Repeat Password:</label>
                <input type="password" id="register_repeat_password" name="register_repeat_password" required>
                <button type="submit">Register</button>
                <% if (register_error) { %>
                <p style="color:red;"><%= register_error %></p>
                <% } %>
            </form>
        </div>
    </body>
</html>
